body {
  background-color: transparent !important;
}

.container {
  width: auto !important;
}

.zoomed { zoom: 2; -moz-transform: scale(2); -moz-transform-origin: 400px 400px}

.navbar-default {
  background-color: #EEEEEE !important;
  border-color: #CCCCCC !important;
}

.station-search {
  background-color: #CCCCCC;
  margin-top: 4px;
  border-style: hidden !important;
  font: 12px Arial, Helvetica, sans-serif;
  color: #444444;
  border-width: 0px !important;
  border-radius: 4px !important;
  border: 1px solid #AAAAAA !important;
}
::-moz-placeholder {
  color: #454545;
}
::-webkit-input-placeholder {
  color: #454545;
}
:-moz-placeholder {
  color: #454545;
}

#stationInputGroup {
  max-width: 250px;
}

#rightNavContent {
  float: right;
}

.navbar-brand {
  font-size: 18pt !important;
  margin-top: 2px;
}

.navbar-logo {
  float: left;
  margin-top: 4px;
  margin-right: 8px;
}

.play-controls-rating {
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  width: 300px;
}

.song-description-overlay {
  position: absolute;
  bottom: 0px;
  height: 22px;
  width: 100%;
  background: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
}

.song-overlay-text {
  color: #EFEFEF;
  font-weight: bold;
  float: left;
  padding-left: 5px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.song-mute {
  display: none;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  height: 300px;
  line-height: 300px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 24pt !important;
}

.album-cover {
  background-image: url('img/bluetrane-albumcover.jpg');
  background-size: 300px 300px;
  position: relative;
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.enter-comment {
  background-color: #CCCCCC;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14pt !important;
  padding: 5px;
  line-height: 1.75em;
  text-align: center;
}
.enter-comment:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

.add-review-btn {
  font-family: "Calibri", "Arial", sans-serif;
  font-weight: bold !important;
  line-height: 1.75em;
}

.comment-box {
  background-color: #DDDDDD;
  border: 1px solid #999999;
  cursor: text;
  font-size: 9pt;
  padding: 3px;
  text-align: left;
}

.song-rating-btns {
  width: 300px;
  height: 50px;
}

.song-rating-btn {
  border: 1px solid black;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 20pt !important;
  margin-top: 0;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  height: 50px;
  line-height: 46px;
  width: 150px;
  text-align: center;
}

.rate-up {
  background-color: #5CB85C;
  border-color: #4CAE4C;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rate-down {
  background-color: #D9534F;
  border-color: #D43F3A;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.comm-area {
  height: 500px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: #EEEEEE;
  padding: 5px;
}

.comm-message {
  overflow: auto;
  margin-bottom: 5px;
}

.comm-message-type {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-sizing: content-box;
  color: #EFEFEF;
  float: left;
  font-size: 16pt;
  text-align: center;
  top: 0 !important;
  width: 32px;
  height: 32px;
  line-height: 32px !important;
}
.comm-message-type:before {
  line-height: 32px;
}

.comm-message-type-comment {
  background-color: #444444;
}
.comm-message-type-rate-up {
  background-color: #5CB85C;
}
.comm-message-type-rate-down {
  background-color: #D9534F;
}
.comm-message-type-newsong {
  background-color: #428BCA;
}

.comm-message-pic {
  float: left;
  width: 32px;
  height: 32px;
}
.comm-message-pic:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.profile-pic-1 { background-image: url('img/profilepics/1.jpg'); }
.profile-pic-2 { background-image: url('img/profilepics/2.jpg'); }
.profile-pic-3 { background-image: url('img/profilepics/3.jpg'); }

.comm-message-text {
  float: left;
  font-size: 9pt;
  margin-left: 4px;
  margin-top: 7px;
  max-width: 80%;
}

.comm-comment-area {
  position: absolute !important;
  bottom: 5px;
  overflow: hidden;
  width: 91%;
}

.comm-comment-box {

}